{% extends 'base.html' %}

{% block title %}New Project{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% csrf_token %}
<form action="/project/{{ project.id }}/add_counterpart" method="put"></form>
    <label for="name">Your project name : </label>
    <input type="text" name="name" id="name" placeholder="Project Name" /> <br />

    <label for="description">Your project description : </label>
    <textarea name="description" id="description" placeholder="Project Description" ></textarea> <br />
<input type="submit" value="Edit project" />
</form>
{% endblock %}